# This is Git's per-user configuration file.
[user]
	name = DimitrisDimitropoulos
	email = dimitris.dimitropoulos00@gmail.com
[core]
	editor = nvim
[init]
  defaultBranch = main
[status]
  short = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
